<div class="container">
  <div class="row">
    <mat-card class="col">
      <mat-card-content>
        <div class="row justify-content-center">
          <div class="col-sm-8 labelTitle">
            <div class="justify-content-center">
                <span>Oops, an error as ocurred :(</span>
            </div>
          </div>
          <div class="col-sm-8 labelTitleSecondary">
                <div class="justify-content-center marginBottom_60 marginTop_20">
                    <h2>Check for details below:</h2>     
                    <div>{{(this.error)}}</div>     
                </div>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
