.margin-bottom-20 {
  margin-bottom: 20px;
}

.marginBottom_60 {
  margin-bottom: 60px;
}

.marginTop_20 {
  margin-top: 20px;
}

.container {
  padding: 40px 0 40px 0;
}

.labelTitle {
  font-size: xx-large;
  color: #055f66;
  text-align: center;
}
