@import '../../../styles-variables.scss';

mat-sidenav-container {
  margin-top: 75px;
}

.background {
  padding: 40px 0 40px 0;
  position: relative;

  > .container {
    position: relative;
  }
  
  @media (max-width: map-get($grid-breakpoints, lg)) {
    .container {
       max-width: none;
       min-width: $toolbar-breakpoint;
    }
  }
  
}