@import "../../../styles-variables.scss";

mat-sidenav-container {
  margin-top: 75px;
}

.background {
  padding: 40px 0 40px 0;
  position: relative;
  background: url("../../../assets/images/background/Muster.png") no-repeat center bottom;
  background-size: cover;
  background-color: #c9c9c9;

  >.container {
    position: relative;
  }

  @media screen and (max-width: 575px) {
    .container {
      width: 100vw;
      position: relative;
      margin-left: -50vw;
      left: 50%;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}