<app-profile-form [formId]="activeTab"
                  [profileData]="this.profileData$ | async"
                  [authorized]="this.authorized"
                  [offerings]="this.offerings$ | async"
                  [services]="this.services$ | async"
                  [payments]="this.payments$ | async"
                  [countries]="this.countries$ | async"
                  [updateProfile]="(this.updateProfile$ | async)"
                  [errorUpdatingProfile]="(this.errorUpdating$ | async)"
                  (updateBusinessEvent)="updateBusiness($event)"></app-profile-form>