<!-- <div *ngIf="show" class="overlay">
    <div class="loading">
        <h2>Loading...</h2>
        <p>{{message}}</p>
        <div style="padding-top: 25px">
            <mat-progress-spinner aria-label="spiner" mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>
</div> -->


<div *ngIf="show">
    <div class="justify-content-center">
        <span class="row justify-content-center">
            <h2>{{'csa.loading' | translate}}</h2>
        </span>
        <span class="row justify-content-center">
            <p>{{message}}</p>
        </span>
        <br/>
        <span class="row justify-content-center">
            <mat-progress-spinner aria-label="spiner" mode="indeterminate"></mat-progress-spinner>
        </span>
    </div>
</div>