<mat-card ngClass="warn" *ngFor="let item of buninessData$ | async">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle><b>Category: </b>{{item.category}}</mat-card-subtitle>
        <mat-card-subtitle><b>Email: </b>{{item.contactEmail}}</mat-card-subtitle>
        <mat-card-subtitle><b>Phone: </b>{{item.countryCode}} {{item.contactPhoneNumber}}</mat-card-subtitle>
        <mat-card-subtitle><b>WebSite: </b><a href="javascript:void(0);">{{item.url}}</a></mat-card-subtitle>
        <mat-card-subtitle><b>Street: </b>{{item.street}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions style="text-align: right">
        <button mat-raised-button color="secondary" (click)="EditBusiness($event, item.id)">Edit</button>
        <button mat-raised-button color="secondary" (click)="RemoveBusiness($event, item.id)">Remove</button>
    </mat-card-actions>
</mat-card>