.content {
    padding-bottom: 5px;
    text-align: left;
    line-height: 3em;
}

.btnModal {
    z-index: 1;
    width: 100%;
    background-color: #f3f3f3;
    border: solid 1px #f3f3f3;
    cursor: pointer;
}