<section class="section-title">
    <span>{{'csa.title.short' | translate}}</span>
</section>

<section class="section-content">
    <div class="popup-title">
        <a href="JavaScript:window.close()"
           class="close-popup">
            <img src="../../../../assets/images/icons/close_x.svg"
                 width="30">
        </a>
        <h5>{{'csa.google.preview-process' | translate}}</h5>
    </div>

    <div *ngIf="this.loading"
         class="pt-5">
        <cs-loading [show]="true"></cs-loading>
    </div>

    <div *ngIf="!this.loading"
         class="popup-content">

        <div *ngIf="!hasError">
            <span class="pt-3 pb-5"
                  style="width: 100%;">{{'csa.google.last-step' | translate}}
            </span>

            <div class="pt-3">
                <div class="content-center">
                    <span>3.</span>
                    <img src="../../../../assets/images/icons/oauth_lastStep.png"
                         width="150"
                         height="200">
                </div>
                <span style="font-size: 12px;">
                    {{'csa.google.request-ownership' | translate}}
                </span>
            </div>

            <div class="pt-5 col-sm-12 content-center">
                <button type="button"
                        class="btn btn-secondary">
                    <a class="btn-secondary"
                       href="{{this.requestAdminRightsUrl}}">
                        {{'csa.google.continue' | translate}}
                    </a>
                </button>
            </div>
        </div>

        <div *ngIf="hasError">
            <h3 class="pt-3 pb-5 content-center"> {{'csa.google.error' | translate}}
            </h3>

            <span class="pt-3 pb-5"
                  style="width: 100%;">{{'csa.google.error-description' | translate}}
            </span>

            <div class="pt-5 col-sm-12 content-center">
                <button type="button"
                        class="btn btn-secondary"
                        (click)="closeWindow()">
                    <span>{{'csa.close' | translate}}</span>
                </button>
            </div>
        </div>

    </div>
</section>