<div style="padding: 80px">
        <h1 style="color: white">Add a business</h1>
        <br />
                <app-cs-stepper [authorized]="false" 
                [offerings]="this.offerings" 
                [services]="this.services$ | async" 
                [payments]="this.payments$ | async"
                [countries]="this.countries$ | async" 
                [editForm]="true"
                (offeringsEvent)="getOfferings($event)"
                (editionEvent)="addBusiness($event)"
                (goToProfileEvent)="GoToMainPage()"></app-cs-stepper>
</div>