<div style="padding: 80px">
    <h1 style="color: white">Edit your business</h1>
    <br />
    <app-cs-stepper [authorized]="false" 
            [offerings]="this.offerings" 
            [services]="this.services" 
            [payments]="this.payments"
            [countries]="this.countries$ | async" 
            [business]="this.business$ | async"
            [businessToEditId]="this.businessObjectId" 
            [editForm]="true" 
            (editionEvent)="editBusiness($event)" 
            (offeringsEvent)="getOfferings($event)"
            (getAllOffersEvent)="setAllOfferings($event)"></app-cs-stepper>
</div>