@import "../../../../styles-variables.scss";

.card-template {
  padding: 30px;
  background: white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  h4 {
    margin-bottom: 16px;
  }

  button img {
    height: 70px;
  }

  .btn-white {
    margin-bottom: 10px;
    padding: 10px;
    border-color: #f3f3f3;
    background-color: #fff;
    display: block;

    &:hover {
      border-color: #d9d9d9;
    }
  }

  .gmb-head {
    padding: 10px 0;
    background-color: #e9ecef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    span {
      font-size: 20px;
      vertical-align: middle;
    }

    img {
      height: 32px;
    }
  }

  .gmb-body {
    padding: 10px 0;
    margin-bottom: 16px;
    border: 1px solid #e9ecef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .status {
      font-weight: 500;
    }

    img {
      vertical-align: top;
      margin-left: 5px;
      height: 15px;
    }
  }
}

.btn-secondary {
  color: #000000de;
  background-color: #d9d9d9;
  padding: 0.3rem 1.5rem;
  border: none;
}

.btn-color-primary {
  background-color: #3db0ce;
  color: white;
  font-size: 18px;
}

/*----------------- Modal verification styles -----------------*/

.select-verification {
  padding-left: 25px;

  .verification-option {
    display: flex;
    align-items: flex-start;
    // padding: 1rem;
    max-width: 20rem;
    // margin: 0 0 1rem 0;
  }
  .verification-option > img {
    width: 25px;
    margin: 0 2rem 0 0;
  }
  .verification-option > div {
    flex: 1;
  }
  .verification-option h5 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
  }

  .verification-buttons {
    padding-top: 45px;
  }

  .label-other-verifications {
    padding-left: 55px;
    padding-top: 10px;
  }

  .line-division {
    width: 76%;
    display: inline-block;
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    .verification-buttons {
      padding-top: 0px;
      padding-left: 55px;
    }

    .label-other-verifications {
      padding-left: 0px;
      padding-top: 30px;
    }
  }
}

.type-code {
  padding-left: 25px;

  .type-code-form {
    // display: flex;
    // align-items: flex-start;
    align-items: center;
    padding-top: 60px;
  }
  .type-code-form > img {
    width: 30px;
    margin: 0 1rem 0 0;
  }

  .type-code-form > .button-div {
    margin-left: 35px;
  }

  .type-code-form > .button-div > .btn {
    background-color: #d9d9d9;
    color: black;
    width: 120px;
  }
}

.processing {
  padding-left: 25px;

  .padding-botton-100 {
    padding-bottom: 100px;
  }
}

.successful {
  padding-left: 25px;

  .padding-100 {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  // .padding-100 > img {
  //   width: 100px;
  //   margin: 0 1rem 0 0;
  // }
}

.btn-color-primary-modal {
  color: #999999;
  border-color: #999999;
  background-color: transparent;
  padding: 0.3rem 1.5rem;

  &:hover {
    background-color: #f5eded;
  }
}

.btn-secondary-modal {
  background-color: #d9d9d9;
  padding: 0.3rem 1.5rem;
  border: none;
  padding-left: 20px;
  margin-left: 30px;
}
