<div class="row justify-content-between">
    <div class="col-md-5 mb-5 card-template">
        <h4>{{'csa.your-listing' | translate}}</h4>
        <div class="row gmb-head">
            <div class="col-4">
                <img src="../../../../assets/images/icons/google_icon.svg" alt="Google Icon">
            </div>
            <div class="col-8">
                <span>Google My Business</span>
            </div>
        </div>
        <div class="row gmb-body">
            <div class="col-4">{{'csa.status' | translate}}</div>
            <div class="status col-8">{{listingStatus ? 'activated' : 'deactivated'}}
                <img src="../../../../assets/images/icons/info_icon.svg" alt="Info icon" placement="right"
                    triggers="mouseenter:mouseleave" ngbPopover="Here's some content">
            </div>
        </div>
        <div class="row">
            <div *ngIf="selectedBusiness && !selectedBusiness.channels[0].verificationNeeded" class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="setStatus()">
                    {{!listingStatus ? 'Activate' : 'Deactivate'}}
                </button>
            </div>
            
            <div *ngIf="selectedBusiness && selectedBusiness.channels[0].verificationNeeded" class="col-12 d-flex justify-content-center pt-4">
                <button type="button" class="btn btn-secondary" (click)="verify()">
                    Verify
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="listingStatus" class="col-md-6 mb-5 card-template">
        <h4>{{'csa.view-listing' | translate}}</h4>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-white"><img
                                src="../../../../assets/images/icons/google_icon.svg" alt="Google Icon"
                                class="img-responsive" (click)="googleSearch()">
                        </button>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <span>Google Search</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-white"><img
                                src="../../../../assets/images/icons/maps_logo.svg" alt="Google Maps Logo"
                                class="img-responsive" (click)="googleMaps()">
                        </button>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <span>Google Maps</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>