<div class="row justify-content-between">
    <div class="col-md-5 mb-5 card-template">
        <h4>{{'csa.your-listing' | translate}}</h4>
        <div class="row gmb-head">
            <div class="col-4">
                <img src="../../../../assets/images/icons/google_icon.svg"
                     alt="Google Icon">
            </div>
            <div class="col-8">
                <span>{{'csa.gmb' | translate}}</span>
            </div>
        </div>
        <div class="row gmb-body">
            <div class="col-4">{{'csa.status' | translate}}</div>
            <div class="status col-8">
                <span *ngIf="!this.awaitingOwnership && !this.needsVerification">{{'csa.activate' | translate}}</span>
                <span *ngIf="this.awaitingOwnership && !this.oAuthStatus">{{'csa.deactivated' | translate}}</span>
                <span *ngIf="this.awaitingOwnership && this.oAuthStatus">{{'csa.pending' | translate}}</span>
                <span
                      *ngIf="!this.awaitingOwnership && this.needsVerification">{{'csa.verification-required' | translate}}</span>
                <img src="../../../../assets/images/icons/info_icon.svg"
                     alt="Info icon"
                     placement="right"
                     triggers="mouseenter:mouseleave"
                     ngbPopover="Here's some content">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button *ngIf="this.awaitingOwnership"
                        type="button"
                        class="btn btn-secondary"
                        (click)="openWindowActivation()">
                    <span
                          *ngIf="this.awaitingOwnership && !this.oAuthStatus">{{'csa.activate' | translate}}</span>
                    <span *ngIf="this.awaitingOwnership && this.oAuthStatus">{{'csa.check-status' | translate}}</span>
                </button>

                <button *ngIf="!this.awaitingOwnership && !this.oAuthStatus && !this.needsVerification"
                        type="button"
                        class="btn btn-secondary"
                        (click)="setStatus()">
                    <span>{{'csa.deactivate' | translate}}</span>
                </button>

                <button *ngIf="!this.awaitingOwnership && this.needsVerification"
                        type="button"
                        class="btn btn-secondary"
                        (click)="verifyBusiness()">
                    <span>{{'csa.verify' | translate}}</span>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!this.awaitingOwnership"
         class="col-md-6 mb-5 card-template">
        <h4>{{'csa.view-listing' | translate}}</h4>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="button"
                                class="btn btn-white"><img src="../../../../assets/images/icons/google_icon.svg"
                                 alt="Google Icon"
                                 class="img-responsive"
                                 (click)="googleSearch()">
                        </button>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <span>{{'csa.google-search' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="button"
                                class="btn btn-white"><img src="../../../../assets/images/icons/maps_logo.svg"
                                 alt="Google Maps Logo"
                                 class="img-responsive"
                                 (click)="googleMaps()">
                        </button>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <span>{{'csa.google-maps' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content=""
             let-c="close"
             let-d="dismiss">
    <div class="modal-header">
        <h4 *ngIf="IsSelectVerification"
            class="modal-title">{{'csa.select-verification' | translate}}</h4>
        <h4 *ngIf="IsPostCard"
            class="modal-title">{{'csa.postcard-way' | translate}}</h4>
        <h4 *ngIf="IsInsertCode"
            class="modal-title">{{'csa.type-code' | translate}}</h4>
        <h4 *ngIf="IsProcessing"
            class="modal-title">{{'csa.incoming-call' | translate}}</h4>
        <h4 *ngIf="IsSuccess"
            class="modal-title">{{'csa.verification-successful' | translate}}</h4>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div *ngIf="IsSelectVerification"
             class="select-verification">
            <div>{{ 'csa.complete-your-listing' | translate }}</div>
            <br />
            <div>{{ 'csa.please-select-how' | translate }}</div>
            <div *ngIf="hasPhoneOption || hasSMSOption"
                 class="row pt-5">
                <div class="col-lg-6">
                    <div class="verification-option">
                        <img src="../../../../assets/images/icons/phone.svg"
                             alt="">
                        <div>
                            <h5>{{this.selectedBusiness.contactPhoneNumber}}</h5>
                            <p>{{ 'csa.receive-your-code' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="verification-buttons">
                        <button *ngIf="hasPhoneOption"
                                type="button"
                                (click)="initProcess('PHONE_CALL')"
                                class="btn btn-color-primary-modal">{{ 'csa.call' | translate }}</button>
                        <button *ngIf="hasSMSOption"
                                type="button"
                                (click)="initProcess('SMS')"
                                class="btn btn-secondary-modal">{{ 'csa.text' | translate }}</button>
                    </div>
                </div>
            </div>

            <div *ngIf="hasAddressOption || hasEmailOption"
                 class="label-other-verifications">
                <span>
                    <a [routerLink]=""
                       (click)="openOtherVerifications()"
                       style="color: black">{{ 'csa.other-verifications' | translate }}</a>
                </span>
            </div>

            <hr class="line-division" />

            <div class="row pt-1">
                <div class="col-lg-6">
                    <div class="verification-option">
                        <img src="../../../../assets/images/icons/question.svg"
                             alt="">
                        <div>
                            <h5>{{ 'csa.verify-later' | translate }}</h5>
                            <p>{{ 'csa.your-listing-only' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="verification-buttons">
                        <button type="button"
                                class="btn btn-color-primary-modal"
                                (click)="closeModal()">{{ 'csa.later' | translate }}</button>
                    </div>
                </div>
            </div>
            <hr class="line-division" />
        </div>

        <div *ngIf="IsProcessing"
             class="processing">
            <div *ngIf="this.selectedOptionType === 'SMS' || this.selectedOptionType === 'PHONE_CALL'">
                <div *ngIf="this.selectedOptionType === 'PHONE_CALL'">{{'csa.receive-call-phone' | translate}}
                </div>
                <div *ngIf="this.selectedOptionType === 'SMS'">{{'csa.receive-call-sms' | translate}}</div>
                <div class="padding-botton-100"
                     style="font-weight: 900">{{this.selectedVerificationOption.phoneData.phoneNumber}}</div>
            </div>

            <div *ngIf="this.selectedOptionType === 'EMAIL'">{{'csa.receive-call-email' | translate}}</div>
            <div *ngIf="this.selectedOptionType === 'EMAIL'"
                 class="padding-botton-100"
                 style="font-weight: 900">{{this.selectedVerificationOption.emailData.domainName}}</div>

            <div class="padding-botton-100">
                <cs-loading [show]="true"></cs-loading>
            </div>
            <div class="row pl-3 pt-4 pb-5">
                <div style="width: 30%">
                    <span>{{'csa.change-mind' | translate}}</span>
                </div>

                <div class="label-other-verifications pl-4">
                    <span>
                        <a [routerLink]=""
                           (click)="verificationsMethods()"
                           style="color: black">{{'csa.verification-methods' | translate}}</a>
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="IsPostCard"
             class="type-code">
            <div>{{'csa.send-postcard' | translate}}</div>
            <div class="pt-3">
                <h5>{{this.businessName}}</h5>
                <p style="font-size: 13px">{{this.businessAddressLine}}</p>

                <p class="pt-1"
                   style="font-size: 13px;color: red">{{'csa.postcard-location' | translate}}</p>

                <div class="row pl-3 pt-5 pb-5">
                    <div style="width: 30%">
                        <span>{{'csa.already-postcard' | translate}}</span>
                    </div>

                    <div class="button-div">
                        <button type="button"
                                (click)="postCardContinue()"
                                class="btn btn-color-secondary-modal">{{'csa.continue' | translate}}</button>
                    </div>
                </div>

                <div class="row pl-3 pt-5 pb-5">
                    <div style="width: 30%">
                        <span>{{'csa.change-mind' | translate}}</span>
                    </div>

                    <div class="label-other-verifications pl-4">
                        <span>
                            <a [routerLink]=""
                               (click)="verificationsMethods()"
                               style="color: black">{{'csa.verification-methods' | translate}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="IsInsertCode"
             class="type-code">
            <form [formGroup]="verificationCodeForm"
                  (keydown.enter)="$event.preventDefault()">
                <div>{{'csa.type-digits' | translate}}</div>
                <div class="row type-code-form pb-5">
                    <div class="col-lg-4 col-12">
                        <img *ngIf="verificationCodeForm.invalid"
                             src="../../../../assets/images/icons/check_circle_gray.svg"
                             alt="">
                        <img width="20px"
                             height="20px"
                             *ngIf="verificationCodeForm.valid"
                             src="../../../../assets/images/icons/check_circle_green.svg"
                             alt="">
                        <mat-form-field class="">
                            <input matInput
                                   placeholder="{{'csa.type-code' | translate}}"
                                   formControlName="KeyCode"
                                   autocomplete="off"
                                   required>
                            <mat-error *ngIf="verificationCodeForm.get('KeyCode').invalid">
                                {{'csa.enter-value' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="button-div">
                            <button type="button"
                                    [disabled]="verificationCodeForm.invalid"
                                    (click)="confirmCode()"
                                    class="btn btn-color-primary-modal">{{'csa.confirm' | translate}}</button>
                        </div>
                    </div>
                </div>

                <div class="row pl-3 pt-5">
                    <div style="width: 30%">
                        <span>{{'csa.receive-code' | translate}}</span>
                    </div>

                    <div class="label-other-verifications pl-4">
                        <span> <a [routerLink]=""
                               (click)="sendCodeAgain()"
                               style="color: black">{{'csa.send-code-again' | translate}}</a></span>
                    </div>
                </div>

                <div class="row pl-3 pt-4 pb-5">
                    <div style="width: 30%">
                        <span>{{'csa.change-mind' | translate}}</span>
                    </div>

                    <div class="label-other-verifications pl-4">
                        <span>
                            <a [routerLink]=""
                               (click)="verificationsMethods()"
                               style="color: black">{{'csa.verification-methods' | translate}}</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf="IsSuccess"
             class="successful">
            <div>{{'csa.location-online' | translate}}</div>
            <div>{{'csa.change-info' | translate}}</div>
            <div>
                <div class="row justify-content-center padding-100">
                    <img src="../../../../assets/images/icons/check_circle_green.svg"
                         alt="">
                </div>

                <div class="row justify-content-center">
                    <button type="button"
                            (click)="closeModal()"
                            class="btn btn-color-primary-modal">{{ 'csa.close' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>