mat-sidenav-container {
  height: 100%;
  width: 100%;

  //css
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    >.toolbar {
      position: fixed;
      width: 100%;
      display: flex;
      z-index: 10;

      mat-icon {
        font-size: 35px;
        padding: 10px 0;
        margin-right: 16px;
        cursor: pointer;
      }

      #fullWidth {
        visibility: visible;
        display: block;

      }

      #mobileWidth {
        visibility: hidden;
        display: none;
      }

      a {


        cursor: pointer;

        span {
          font-size: 30px;
        }


      }
    }


    .example-spacer {
      flex: 1 1 auto;
    }

    >.content {
      flex: auto;
      overflow-y: auto;
      overflow-x: auto;
      background: url("../../assets/images/background/Muster.png") no-repeat center bottom;
      background-size: cover;
      background-color: #c9c9c9;
      content: "";
      z-index: 0;
    }
  }
}

fa-icon {
  color: rgba(10, 6, 6, 0.54);
  margin-right: 16px;
  vertical-align: middle;
}

::ng-deep .mat-menu-panel {
  max-width: 400px !important;
}

.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav-container {
    flex: 1;
    background: transparent;

    .sidenav {
      padding: 12px;
      padding-top: 40px;
      background: white;
    }

    .main-container {
      padding: 16px;
      min-height: 100%;
    }
  }
}

.mobile-layout-container {
  padding-top: 56px;
}

.remove-outline {
  outline: none;
}

footer {
  background-color: #323a42;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1.5rem;
    text-align: center;

    li {
      display: inline;

      &:after {
        color: #fff;
        content: '|';
      }

      &:last-of-type {

        &:after {
          content: none;
        }
      }

      a {
        color: #fff;
        margin: 0 2rem;
        cursor: pointer;

        &:hover {
          color: #f9ae05;
          text-decoration: none;
        }
      }
    }
  }

  p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 680px) {
  mat-sidenav-container {
    height: 100%;
    width: 100%;

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;

      >.toolbar {
        position: fixed;
        width: 100%;
        display: flex;
        z-index: 10;

        mat-icon {
          font-size: 35px;
          padding: 10px 0;
          margin-right: 16px;
          cursor: pointer;
        }

        #fullWidth {
          visibility: hidden;
          display: none;
        }

        #mobileWidth {
          visibility: visible;
          display: block;
        }

        a {


          cursor: pointer;

          span {
            font-size: 30px;
          }
        }
      }

      .example-spacer {
        flex: 1 1 auto;
      }

      >.content {
        flex: auto;
        overflow-y: auto;
        overflow-x: auto;
        background: url("../../assets/images/background/Muster.png") no-repeat center bottom;
        background-size: cover;
        background-color: #c9c9c9;
        content: "";
        z-index: 0;
      }
    }
  }
}