<mat-tab-group mat-stretch-tabs style="background: white;">
    <mat-tab label="Your Restaurant">
        <div class="container">
            <form [formGroup]="firstFormGroup" (ngSubmit)="saveFirstSecondStep(firstFormGroup, secondFormGroup)">
                <div class="row justify-content-center">
                    <div class="row justify-content-center marginBottom_40 marginTop_20">
                        <span class="col-sm-8 labelTitle">Your Restaurant</span>
                        <span class="col-sm-8 textAlign_Center">Tell us more about your location</span>
                    </div>
                    <div class="col-sm-8 marginBottom">
                        <mat-form-field class="col">
                            <input matInput placeholder="Enter your location" google-place formControlName="location"
                                required (onSelect)="setAddress($event)">
                            <mat-icon matSuffix>mode_edit</mat-icon>
                            <mat-hint>Start typing to show locations</mat-hint>
                            <mat-error *ngIf="firstFormGroup.get('location').invalid">
                                Please enter a value
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8 marginBottom">
                        <mat-form-field class="col">
                            <input matInput #address placeholder="Enter your address" formControlName="address"
                                required>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                            <mat-error *ngIf="firstFormGroup.get('address').invalid">
                                Please enter a value
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8 marginBottom">
                        <mat-form-field class="col-sm-6">
                            <input matInput placeholder="Enter your postal code" maxlength="5" formControlName="postal"
                                required>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                            <mat-hint>Must be 5 characters</mat-hint>
                            <mat-error *ngIf="firstFormGroup.get('postal').invalid">
                                A valid postal code is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-sm-6">
                            <input matInput placeholder="Enter your city" formControlName="city" required>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                            <mat-error *ngIf="firstFormGroup.get('city').invalid">
                                Please enter a value
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8 marginBottom">
                        <mat-form-field class="col">
                            <mat-select placeholder="Country" formControlName="country" (selectionChange)="changeCountry($event)">
                                <mat-option>--None--</mat-option>
                                <mat-option *ngFor="let state of countries" [value]="state.name">{{state.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="firstFormGroup.get('country').invalid">
                                Please enter a value
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-8 marginBottom">
                        <mat-form-field class="col-3 col-sm-2" style="min-width: 70px">
                            <input matInput formControlName="area" maxlength="6" style="text-align: right;">
                            <mat-error *ngIf="firstFormGroup.get('area').invalid">
                                Wrong prefix
                            </mat-error>
                        </mat-form-field>
                        <span>&ndash;</span>
                        <mat-form-field class="col-8 col-sm-8">
                            <input matInput placeholder="Enter your phone" formControlName="phone" required>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="firstFormGroup.get('phone').invalid">
                                Please enter a correct phone number
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class=" col-sm-12 buttons d-flex justify-content-between pad marginBottom_40 marginTop_40">
                <button mat-raised-button color="secondary" (click)="backToDashboard($event)">Cancel</button>
                <button mat-raised-button color="primary" [disabled]="firstFormGroup.pristine && secondFormGroup.pristine && thirdFormGroup.pristine">Save</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Contact Information">
        <div class="container">
            <form [formGroup]="secondFormGroup" (ngSubmit)="saveFirstSecondStep(firstFormGroup, secondFormGroup)">
                <div class="row justify-content-center">
                    <div class="row justify-content-center marginBottom_40 marginTop_20">
                        <span class="col-sm-8 labelTitle">Contact Information</span>
                        <span class="col-sm-8 textAlign_Center">How can we contact your restaurant?</span>
                    </div>
                    <div class="col-sm-8 marginBottom">
                        <mat-form-field class="col">
                            <input matInput placeholder="Enter your email" formControlName="email" [(ngModel)]="this.businessEmail"
                                required>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                            <mat-error *ngIf="secondFormGroup.get('email').invalid">
                                Please enter a valid email
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8 marginBottom">
                        <div class="col-8 col-sm-1 label_site">
                            <h3>www.</h3>
                        </div>
                        <mat-form-field class="col-8 col-sm-8">
                            <input matInput placeholder="Enter your site" formControlName="website" required>
                            <mat-hint>Example: www.yoursite.com</mat-hint>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                            <mat-error *ngIf="secondFormGroup.get('website').hasError('required')">
                                Please enter a value
                            </mat-error>
                            <mat-error *ngIf="secondFormGroup.get('website').hasError('invalidSite')">
                                Please enter a valid site
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 marginBottom">
                        <mat-list class="col" formArrayName="openHours">
                            <h2 mat-header>Choose your open days and hours, you can split the service hours</h2>
                            <mat-list-item *ngFor="let position of this.openHoursArray.controls let ph=index"
                                [formGroupName]="ph" style="margin-top: 40px; border-bottom: lightgray 1px solid; padding-bottom: 70px">

                                <mat-checkbox [checked]="position.value.isSelected" formControlName="isSelected" color="primary"
                                    class="col-12 col-sm-3">{{position.value.name}}</mat-checkbox>

                                <mat-form-field class="col-6 col-sm-2">
                                    <mat-select placeholder="from" formControlName="from" [value]="position.value.from"
                                        [disableControl]="!position.value.isSelected">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let hour of this.hours" [value]="hour.key">{{hour.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-6 col-sm-2">
                                    <mat-select placeholder="to" formControlName="to" [value]="position.value.to"
                                        [disableControl]="!position.value.isSelected">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let hour of this.hours" [value]="hour.key">{{hour.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-label class="col-12 col-sm-1"><b>and</b></mat-label>

                                <mat-form-field class="col-6 col-sm-2">
                                    <mat-select placeholder="from" formControlName="splitedFrom" [value]="position.value.splitedFrom"
                                        [disableControl]="!position.value.isSelected">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let hour of this.hours" [value]="hour.key">{{hour.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-6 col-sm-2">
                                    <mat-select placeholder="to" formControlName="splitedTo" [value]="position.value.splitedTo"
                                        [disableControl]="!position.value.isSelected">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let hour of this.hours" [value]="hour.key">{{hour.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div class=" col-sm-12 buttons d-flex justify-content-between pad marginBottom_40 marginTop_40">
                    <button mat-raised-button color="secondary" (click)="backToDashboard($event)">Cancel</button>
                    <button mat-raised-button color="primary" [disabled]="firstFormGroup.pristine && secondFormGroup.pristine && thirdFormGroup.pristine">Save</button>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Your offer">
        <div class="container">
            <div class="row justify-content-center marginBottom_40 marginTop_20">
                <span class="col-sm-8 labelTitle">Your offer</span>
                <span class="col-sm-8 textAlign_Center">What can your customers expect?</span>
            </div>
            <form [formGroup]="thirdFormGroup">
                <input matInput formControlName="hasSelection" type="text" required style="display: none">
            </form>
            <mat-accordion [multi]="true" color="primary">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header style="background:rgba(0, 0, 0, 0.04);">
                        <mat-panel-title>
                            Category
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="col-sm-3 checkBoxDisplayInline" *ngFor="let item of this.categories; let i = index">
                        <mat-checkbox name="categoryCusine" color="primary" [checked]="item.selected" (change)="onChangeCategory($event, item)"
                            [value]="item.name">{{item.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>
                <br />
                <mat-expansion-panel #expansionPanel>
                    <mat-expansion-panel-header style="background:rgba(0, 0, 0, 0.04);">
                        <mat-panel-title>
                            Offerings
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="!(this.offeringsArray && this.offeringsArray.length > 0)">
                        Please select a category!
                    </div>

                    <div class="col-sm-3 checkBoxDisplayInline" *ngFor="let item of this.offeringsArray; let i = index">
                        <mat-checkbox color="primary" [value]="item" [checked]="item.selected" (change)="onOfferingsChange($event, item)">{{item.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>
                <br />
                <mat-expansion-panel>
                    <mat-expansion-panel-header style="background:rgba(0, 0, 0, 0.04);">
                        <mat-panel-title>
                            Services
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="!(this.servicesArray && this.servicesArray.length > 0)">
                        Please select a category!
                    </div>

                    <div class="col-sm-3 checkBoxDisplayInline" *ngFor="let item of this.servicesArray; let i = index">
                        <mat-checkbox color="primary" [value]="item" [checked]="item.selected" (change)="onServicesChange($event, item)">{{item.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>
                <br />
                <mat-expansion-panel>
                    <mat-expansion-panel-header style="background:rgba(0, 0, 0, 0.04);">
                        <mat-panel-title>
                            Payment methods
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="!(this.paymentsArray && this.paymentsArray.length > 0)">
                        Please select a category!
                    </div>

                    <div class="col-sm-3 checkBoxDisplayInline" *ngFor="let payment of this.paymentsArray; let i = index">
                        <mat-checkbox color="primary" [value]="payment" [checked]="payment.selected" (change)="onPaymentsChange($event, payment)">{{payment.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class=" col-sm-12 buttons d-flex justify-content-between pad marginBottom_40 marginTop_40">
                <button mat-raised-button color="secondary" (click)="backToDashboard($event)">Cancel</button>
                <button mat-raised-button color="primary" (click)="saveDataOfferings(firstFormGroup, secondFormGroup)"
                    [disabled]="firstFormGroup.pristine && secondFormGroup.pristine && thirdFormGroup.pristine">Save</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>