.percentage-complete {
  font-size: 20px;
  padding-bottom: 1rem;
}

.progress-bar-root {
  height: 50px;
  position: relative;

  .progress {
    background-color: #d1d1d2 !important;
    overflow: unset !important;
  }

  .progress-bar-position {
    position: absolute;
    width: 100%;
    margin-top: 7px;

    .progress-bar-template {
      background-color: #f9ae05;
      border-top-right-radius: 25px;
      background-image: linear-gradient(-90deg, rgb(249, 174, 5), rgb(252, 214, 130));
      border-bottom-right-radius: 25px;
    }
  }

  .percentage-popup {
    background: #f9ae05;
    margin-left: 2rem;
    margin-bottom: 1rem;

    .popover-body {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .percentage-popup .arrow::after {
    border-top-color: #f9ae05;
  }
  
  ngb-popover-window.bs-popover-bottom-right .arrow, 
  ngb-popover-window.bs-popover-top-right .arrow {
    right: 1rem;
  }

  // Progress bar middle points
  .first-position {
    position: absolute;
    left: -1%;
    z-index: 111;
  }

  .second-position {
    position: absolute;
    left: 23%;
    z-index: 111;
  }

  .third-position {
    position: absolute;
    left: 48%;
    z-index: 111;
  }

  .fourth-position {
    position: absolute;
    left: 73%;
    z-index: 111;
  }

  .fifth-position {
    position: absolute;
    left: 98%;
    z-index: 111;
  }

  .circle {
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .type1 {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 7px solid #323a42;
    // z-index: 10;
  }

  .type2 {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 7px solid #323a42;
    // z-index: 10;
  }

  .type3 {
    width: 30px;
    height: 30px;
    background: #f9ae05;
    border: 7px solid #323a42;
    // z-index: 10;
  }

  .progress {
    box-shadow: inset 0 3px 5px -2px rgba(0, 0, 0, 0.2), inset 0 2px 20px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #9ca2a9;
  }
}

.missing-items {
  height: auto;
  position: relative;

  .div-padding {
    font-size: 18px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none; /* Remove default bullets */
    margin-bottom: 0;
    padding-left: 25px;
  }

  ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #f9ae05;
    font-weight: bold;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em;
    margin-left: -1em;
    font-size: 24px;
    vertical-align: sub;
  }
}
