<div class="container">
    <div class="row justify-content-center title">
        <h2>{{'csa.profile.title' | translate}}</h2>
    </div>
    <div class="row">
        <div class="col-12 order-2 order-lg-1">
            <ul id="profileNav" class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a id="basic-tab" class="nav-link" [ngClass]="{active: isActiveTab('basic')}" data-toggle="tab"
                        (click)="setActiveTab('basic')" role="tab" aria-controls="basic" aria-selected="true">
                        {{'csa.profile.basic' | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a id="extended-tab" class="nav-link" [ngClass]="{active: isActiveTab('extended')}"
                        data-toggle="tab" (click)="setActiveTab('extended')" role="tab" aria-controls="extended"
                        aria-selected="true">
                        {{'csa.profile.extended' | translate}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-8 order-3 order-lg-2">
            <div class="tab-content">
                <ng-container [ngSwitch]="formId">
                    <div  *ngSwitchCase="'basic'" class="tab-pane fade show active" id="basic" role="tabpanel"
                        aria-labelledby="basic-tab">
                        <form [formGroup]="firstFormGroup" (keydown.enter)="$event.preventDefault()">
                            <div class="row">
                                <div class="col">
                                    <h4>{{'csa.general-info' | translate}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <input matInput formControlName="location" placeholder="{{'csa.enter-location' | translate}}"
                                            autocomplete="off">
                                        <mat-error *ngIf="firstFormGroup.get('location').invalid">
                                            {{'csa.enter-value' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <input #address matInput formControlName="address"
                                            placeholder="{{'csa.enter-address' | translate}}" autocomplete="off">
                                        <mat-error *ngIf="firstFormGroup.get('address').invalid">
                                            {{'csa.enter-value' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col-sm-4">
                                        <input matInput formControlName="postal" placeholder="{{'csa.enter-postal-code' | translate}}"
                                            maxlength="5" autocomplete="off">
                                        <mat-error *ngIf="firstFormGroup.get('postal').invalid">
                                            {{'csa.enter-valid-postal' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-8">
                                        <input matInput formControlName="city" placeholder="{{'csa.enter-city' | translate}}"
                                            autocomplete="off">
                                        <mat-error *ngIf="firstFormGroup.get('city').invalid">
                                            {{'csa.enter-value' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <mat-select formControlName="country" placeholder="{{'csa.enter-country' | translate}}"
                                            (selectionChange)="changeCountry($event)">
                                            <mat-option>--{{'csa.None' | translate}}--</mat-option>
                                            <mat-option *ngFor="let state of countries" [value]="state.name">
                                                {{state.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="firstFormGroup.get('country').invalid">
                                            {{'csa.enter-value' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <mat-select placeholder="{{'csa.enter-category' | translate}}">
                                            <mat-option>--{{'csa.None' | translate}}--</mat-option>
                                            <mat-option name="categoryCusine" *ngFor="let category of this.categories"
                                                [value]="category.name">
                                                {{category.name | translate}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h4>{{'csa.contact-info' | translate}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col-3 col-sm-3 col-md-2">
                                        <input class="text-right" matInput formControlName="area" maxlength="6" autocomplete="off">
                                    </mat-form-field>
                                    <span class="col-1">&ndash;</span>
                                    <mat-form-field class="col-8 col-sm-8 col-md-9">
                                        <input matInput formControlName="phone" placeholder="{{'csa.enter-phone' | translate}}"
                                            autocomplete="off" required>
                                        <mat-error *ngIf="firstFormGroup.get('phone').invalid">
                                            {{'csa.enter-phone' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <input matInput placeholder="{{'csa.enter-website' | translate}}" formControlName="website"
                                            autocomplete="off">
                                        <span matPrefix>www.&nbsp;</span>
                                        <mat-hint>{{'csa.example' | translate}}: www.yoursite.com</mat-hint>
                                        <mat-error *ngIf="firstFormGroup.get('website').hasError('required')">
                                            {{'csa.enter-value' | translate}}
                                        </mat-error>
                                        <mat-error *ngIf="firstFormGroup.get('website').hasError('invalidSite')">
                                            {{'csa.enter-valid-site' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <input matInput placeholder="{{'csa.enter-email' | translate}}" formControlName="email"
                                            autocomplete="off">
                                        <mat-error *ngIf="firstFormGroup.get('email').invalid">
                                            {{'csa.enter-valid-email' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div formArrayName="openHours">
                                        <div class="row">
                                            <div class="col">
                                                <h5>{{'csa.openhours-title' | translate}}</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col" style="padding: 0 30px;">
                                                <div *ngFor="let position of this.openHoursArray.controls let ph=index"
                                                    [formGroupName]="ph" class="max-width-OpenDay">
                                                    <div
                                                        [ngClass]="{selectedOpenDay: position.value.isSelected,
                                                        notSelectedOpenDay: !position.value.isSelected,
                                                        selectedOpenDayError: this.openHoursArray.controls[ph].hasError('openDaysError')}">
                                                        <div class="label-OpenDay">
                                                            <mat-label class="col-12 center-content">
                                                                <b>{{position.value.name}}</b>
                                                            </mat-label>
                                                            <mat-checkbox [checked]="position.value.isSelected"
                                                                formControlName="isSelected">
                                                            </mat-checkbox>
                                                        </div>
                
                                                        <mat-form-field class="col-md-12">
                                                            <mat-select placeholder="{{'csa.from' | translate}}" formControlName="from"
                                                                [value]="position.value.from"
                                                                [disableControl]="!position.value.isSelected">
                                                                <mat-option>{{'csa.none' | translate}}</mat-option>
                                                                <!-- <ng-container *ngIf="this.rendering">
                                                                    <mat-option *ngFor="let hour of this.hours"
                                                                                [value]="hour.key">
                                                                        {{hour.value}}
                                                                    </mat-option>
                                                                </ng-container> -->
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <div class="overlapping-hours"
                                                            *ngIf="this.openHoursArray.controls[ph].hasError('fromIsRequired')">
                                                            {{ 'csa.hour-required' | translate}}
                                                        </div>
                
                                                        <mat-form-field class="col-md-12">
                                                            <mat-select placeholder="{{'csa.to' | translate}}" formControlName="to"
                                                                [value]="position.value.to"
                                                                [disableControl]="!position.value.isSelected">
                                                                <mat-option>{{'csa.none' | translate}}</mat-option>
                                                                <!-- <ng-container *ngIf="this.rendering">
                                                                    <mat-option *ngFor="let hour of this.hours"
                                                                                [value]="hour.key">
                                                                        {{hour.value}}
                                                                    </mat-option>
                                                                </ng-container> -->
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <div class="overlapping-hours"
                                                            *ngIf="this.openHoursArray.controls[ph].hasError('toHourOverlapping')">
                                                            {{ 'csa.overlapping-hours' | translate}}
                                                        </div>
                                                        <div class="overlapping-hours"
                                                            *ngIf="this.openHoursArray.controls[ph].hasError('toIsRequired')">
                                                            {{ 'csa.hour-required' | translate}}
                                                        </div>
                
                                                        <mat-label class="center-content">and</mat-label>
                
                                                        <mat-form-field class="col-md-12">
                                                            <mat-select placeholder="{{'csa.from' | translate}}"
                                                                formControlName="splitedFrom" [value]="position.value.splitedFrom"
                                                                [disableControl]="!position.value.isSelected">
                                                                <mat-option>{{'csa.none' | translate}}</mat-option>
                                                                <!-- <ng-container *ngIf="this.rendering">
                                                                    <mat-option *ngFor="let hour of this.hours"
                                                                                [value]="hour.key">
                                                                        {{hour.value}}
                                                                    </mat-option>
                                                                </ng-container> -->
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <div class="overlapping-hours"
                                                            *ngIf="this.openHoursArray.controls[ph].hasError('splitedFromHourOverlapping')">
                                                            {{ 'csa.overlapping-hours' | translate}}
                                                        </div>
                                                        <div class="overlapping-hours"
                                                            *ngIf="this.openHoursArray.controls[ph].hasError('splitedFromIsRequired')">
                                                            {{ 'csa.hour-required' | translate}}
                                                        </div>
                
                                                        <mat-form-field class="col-md-12">
                                                            <mat-select placeholder="{{'csa.to' | translate}}"
                                                                formControlName="splitedTo" [value]="position.value.splitedTo"
                                                                [disableControl]="!position.value.isSelected">
                                                                <mat-option>{{'csa.none' | translate}}</mat-option>
                                                                <!-- <ng-container *ngIf="this.rendering">
                                                                    <mat-option *ngFor="let hour of this.hours"
                                                                                [value]="hour.key">
                                                                        {{hour.value}}
                                                                    </mat-option>
                                                                </ng-container> -->
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <div class="overlapping-hours"
                                                            *ngIf="this.openHoursArray.controls[ph].hasError('splitedToHourOverlapping')">
                                                            {{ 'csa.overlapping-hours' | translate}}
                                                        </div>
                                                        <div class="overlapping-hours"
                                                            *ngIf="this.openHoursArray.controls[ph].hasError('splitedToIsRequired')">
                                                            {{ 'csa.hour-required' | translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h4>{{'csa.business-info' | translate}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <mat-icon ngbPopover="Test" triggers="mouseenter:mouseleave" placement="right">info</mat-icon>
                                        <mat-chip-list #chipListKeyword>
                                            <mat-chip *ngFor="let keyword of this.keywordsArray; let i = index"
                                                [selectable]="selectable" [removable]="removable" (removed)="removeKeywords(keyword)">
                                                {{keyword}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input placeholder="{{'csa.enter-keywords' | translate}}"
                                                [matChipInputFor]="chipListKeyword" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addKeywords($event)">
                                        </mat-chip-list>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <textarea matInput formControlName="description" maxlength="750"
                                            placeholder="{{'csa.enter-description' | translate}}" autocomplete="off">
                                        </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                
                    <div *ngSwitchCase="'extended'" class="tab-pane fade show active" id="extended" role="tabpanel"
                        aria-labelledby="extended-tab">
                        <form [formGroup]="secondFormGroup" (keydown.enter)="$event.preventDefault()">
                            <div class="row">
                                <div class="col">
                                    <h4>{{'csa.additional-info' | translate}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <mat-form-field class="col">
                                        <mat-chip-list #chipListLanguage>
                                            <mat-chip *ngFor="let language of this.languagesArray" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeLanguages(language)">
                                                {{language}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input placeholder="{{'csa.enter-languages' | translate}}"
                                                [matChipInputFor]="chipListLanguage"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="addLanguages($event)">
                                        </mat-chip-list>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <h5>{{'csa.payments-title' | translate}}</h5>
                                        </div>
                                    </div>
                                    <!-- <payments-button [payments]="payments"></payments-button> -->
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <h5>{{'csa.offerings-title' | translate}}</h5>
                                        </div>
                                    </div>
                                    <collapsible-button [offerings]="offerings"></collapsible-button>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <h5>{{'csa.services-title' | translate}}</h5>
                                        </div>
                                    </div>
                                    <mat-button-toggle-group class="row" name="services">
                                        <mat-button-toggle class="col-3" *ngFor="let service of this.servicesArray">
                                            <button type="button" class="mat-button-toggle-button" [class.selected]="service.selected"
                                                (click)="toggleService(service)">
                                                <img class="img-fluid" src="{{imgPathServices}}{{service.name}}.png"
                                                    alt="{{service.name}}">
                                                {{service.name | translate}}
                                            </button>
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 order-1 order-lg-3">
            <div class="card">
                <h5>{{'csa.profile-completeness' | translate}}</h5>
                <div class="percentage-complete">
                   {{'csa.to-complete' | translate}}
                </div>
                <progress-bar></progress-bar>
            </div>
        </div>
    </div>
</div>

<mat-card class="save-bar">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <form >
                    <button (click)="save()" class="btn btn-save">
                        <mat-icon>check_circle</mat-icon>
                        {{'csa.profile.save' | translate}}
                    </button>
                    <button type="button" class="btn btn-discard">
                        <mat-icon>highlight_off</mat-icon>
                        {{'csa.profile.discard' | translate}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</mat-card>