<div class="modal-header">
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="select-verification">
        <div *ngIf="hasEmailOption" class="row">
            <div class="col-lg-7">
                <div class="verification-option">
                    <img src="../../../../assets/images/icons/mail.svg"
                         alt="">
                    <div>
                        <h5>testuser@gmail.com</h5>
                        <p>{{'csa.receive-code-email' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 div-buttons">
                <div class="verification-buttons">
                    <button type="button" (click)="emailRequest()"
                            class="btn btn-color-secondary-modal">{{'csa.send-email' | translate }}</button>
                </div>
            </div>
        </div>
        <hr *ngIf="hasEmailOption" class="line-division" />

        <div *ngIf="hasAddressOption" class="row">
                <div class="col-lg-7">
                    <div class="verification-option">
                        <img src="../../../../assets/images/icons/Home-24.png"
                             alt="">
                        <div>
                            <h5>Business Name</h5>
                            <p>{{'csa.receive-code-postcard' | translate }}</p>

                            <p style="color: red">{{'csa.may-required' | translate }}</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 div-buttons">
                    <div class="verification-buttons">
                        <button type="button" (click)="addressRequest()"
                                class="btn btn-color-secondary-modal">{{'csa.request' | translate }}</button>
                    </div>
                </div>
            </div>
            <hr class="line-division" />
    </div>

   
</div>