.marginBottom_40 {
    margin-bottom: 40px;
}

.marginTop_20 {
    margin-top: 20px;
}

.labelTitle_xlarge{
    font-size: x-large;
    color: #055f66;
    text-align: center;
}

.labelTitle_unset{
    font-size: unset;
    color: #055f66;
    text-align: center;
}