.comment {
    padding-left: 1rem;
    border-left: 1px solid #ccc;
}

.time-ago {
    font-size: 14px;
    margin: 0 10px;
    padding: 0 10px;
}

.btn-primary {
    background-color: #f9ae05;
    color: #fff;
    border: 1px solid #f9ae05;
    min-width: 120px;
    border-radius: 1rem;

    &:hover{
        background-color: #fff;
        color: #f9ae05;
    }
}

.btn-secondary {
    border: 1px solid #666;   
    background-color: #fff;
    color: #666;
    min-width: 120px;

    &:hover {
        color: #fff;
        background-color: #666;
    }

    mat-icon {
        vertical-align: text-bottom;
        margin-right: 5px;
    }
}

.no-btn {
    text-decoration: underline;
    margin: 0 1rem;
}

form {

    mat-form-field {
        width: 100%;
    }
}

h5 {
    margin-bottom: 1.5rem;
}
