<mat-button-toggle-group class="row" name="offerings">
    <mat-button-toggle class="col-3" *ngFor="let offering of offerings; let i = index">
        <button (click)="toggleOfferings(i)" class="button" type="button" [ngClass]="{'clicked': toggleState[i]}">
            <img class="img-fluid" src="{{imgPathOfferings}}{{offering.category}}.png" alt="{{offering.category}}">
            {{offering.category | translate}}
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <div *ngIf="toggleState[i]" class="toggle-checkbox">
            <mat-checkbox *ngFor="let item of offering.value | slice:0:10" class="col-4" [value]="item"
                [checked]="offeringState[item]" (change)="onOfferingsChange($event, item)" [class.show]="show">
                {{item | translate}}
            </mat-checkbox>
            <button *ngIf="offering.value.length > 11" mat-button (click)="show = !show" type="button"
                class="btn optbutton" (click)="openDialog(i)">
                {{ (show ? 'csa.more' : 'csa.more') | translate}}
            </button>
        </div>

    </mat-button-toggle>

</mat-button-toggle-group>