.toggle-checkbox {
    position: absolute;
    z-index: 1;
    width: 700px;
    padding: 15px 0;
    margin-top: -30px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

mat-icon {
    display: block;
    margin: 0 auto;
    color: #0000008a;
}

mat-checkbox {
    display: inline-block;

    ::ng-deep label {
        margin-bottom: 0;
    }
}

.optbutton {
    visibility: hidden;
}

mat-button-toggle-group {
    padding: 0 15px;

    mat-button-toggle {
        position: relative;

        button {
            width: 100%;
            margin-bottom: 30px;
            padding: 10px;
            background-color: #f3f3f3;
            border: solid 1px #f3f3f3;
            cursor: pointer;

            &.selected {
                border: solid 1px #88b958;
            }

            mat-icon {
                transition: all .2s ease-out;
            }

            &.clicked {
                mat-icon {
                    transform: rotate(180deg);
                }
            }

            img {
                width: 2rem;
                max-height: 2rem;
                margin: 0 auto;
                display: block;
            }
        }

        button:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 575px) {
    .toggle-checkbox {

        /*position: fixed;
        width: 300px;
        z-index: 15;
        top: 30%;
        left: 50%;
        margin: -100px 0 -30px -150px;
        background-color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);*/

        position: absolute;
        z-index: 15;
        width: 100%;
        padding: 15px 0;
        margin-top: -30px;
        background-color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    .col-4 {
        display: table-row;
        max-width: 45%;

        font-size: 14px;
        //line-height: 16px;
        //height: 32px;
        overflow: hidden;
    }

    .optbutton {
        width: 100%;
        margin-bottom: -20px;
        background-color: #f3f3f3;
        //border: solid 2px #f3f3f3;
        //cursor: pointer;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-size: 0.875em;
        margin-bottom: -16px;
        position: absolute;
        visibility: visible;
    }


    mat-button-toggle-group {
        padding: 0 15px;
        width: 23em;

        .col-3 {
            display: -webkit-inline-box;

            max-width: 45%;
        }

        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: nowrap;
        // display: inline-block;
        // float: left;

        mat-button-toggle {


            .button {
                //width: 95px;
                overflow: hidden;
                position: relative;
                display: inline-block;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: smaller;
                //width: 90px;
                margin-bottom: 30px;
                padding: 10px;
                background-color: #f3f3f3;
                border: solid 2px #f3f3f3;
                cursor: pointer;

                &.selected {
                    border: solid 2px #f9ae00;
                    background-color: #fdeecc;
                }

                mat-icon {
                    transition: all 0.2s ease-out;
                }

                &.clicked {
                    mat-icon {
                        transform: rotate(180deg);
                    }
                }

                img {
                    //max-height: 1.5rem;
                    font-size: small;
                    margin: 4em;
                    //display: inline-block;
                }

                /*
                img.img-mobile {
                    max-height: 100%;
                    margin: 4em;
                }
                */

            }

            .button:focus {
                outline: none;
            }
        }
    }
}