@import "../../../../styles-variables.scss";

.container {
  padding-bottom: 60px;

  .welcome-message {
    height: 140px;
    padding-top: 40px;
  }

  .username-label {
    padding-top: 9px;
    padding-left: 8px;
  }

  .card-template {
    padding: 30px;
    background: white;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    .profile-title {
      font-size: 28px;
    }

    .percentage-complete {
      color: rgb(60, 176, 206);
      font-size: 20px;
      padding-bottom: 80px;
    }

    .button-height {
      height: 45px;
    }

    .example-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
    }

    .example-radio-button {
      margin: 5px;
    }

    .progress-bar-average {
      width: 70%;
      padding-top: 4px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.padding-top {
  padding-top: 60px;
}

.btn-color-primary {
  background-color: #3db0ce;
  color: white;
  font-size: 18px;
}
