<div class="container">
  <div class="row justify-content-center welcome-message">
    <h3>{{ 'cs.navmenu-welcome' | translate }}</h3>
    <span class="username-label">{{this.userName}}</span>
  </div>

  <div class="row justify-content-center">
    <div class="col col-md-10 card-template">

      <div class="profile-title">{{'cs.profile-completeness' | translate}}</div>
      <div class="percentage-complete">{{this.percentageToComplete}} {{'csa.to-complete' | translate}}</div>
      <div class="col-12 offset-md-1 col-md-10">
        <progress-bar></progress-bar>
      </div>

      <div class="padding-top offset-sm-1 col-sm-10 offset-md-2 col-md-8">
        <button mat-raised-button
                class="btn-color-primary button-height col-md-12">{{'csa.data-assistant' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-md-4 card-template">
      <span class="d-block">Some content</span>
      <span class="d-block">Some text for this content is set here</span>
    </div>
    
    <div class="offset-md-1 col-md-5 card-template">
      <span class="d-block">Current publishers</span>
      <span class="d-block">Here is a list of your current publishers.</span>
    </div>
  </div>
</div>