<div class="container">
	<div class="row justify-content-center title">
		<h2>{{ 'csa.navmenu-welcome' | translate }} <span>{{this.userName}}</span></h2>
	</div>

	<div class="row justify-content-center mb-5">
		<div class="col col-md-12 card-template">
			<h3>{{'csa.profile-completeness' | translate}}</h3>
			<div class="percentage-complete">{{this.percentageToComplete}} {{'csa.to-complete' | translate}}</div>
			<div class="col-12">
				<progress-bar></progress-bar>
			</div>
		</div>
	</div>
	<business-comp [businessData$]="(this.businessList$ | async)"
				   [oAuthStatus]="(this.oAuthTokenStatus$ | async)"
				   [fecthOptions$]="(this.fecthOptions$ | async)"
				   [redirectURL]="(this.redirectURL$ | async)"
				   [userNames]="(this.userFirstLastName)"
				   [language]="this.language"
				   (getAllEvent)="updateDashboard()"
				   (fetchOptionsEvent)="fetchOptions($event)"
				   (InitializeVerificationEvent)="initializeOption($event)"
				   (CompleteVerificationEvent)="completeVerification($event)"></business-comp>
</div>