$toolbar-breakpoint: 380px;

$blue-primary-color: #3db0ce;
$blue-secondary-color: #b2dae4;

$black-primary-color: #323a42;
$black-secondary-color: #c9c9c9;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
