@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '~@angular/material/theming';
$custom-typography: mat-typography-config( $font-family: 'Montserrat, sans-serif');
@include mat-core($custom-typography);

$cs-primary: mat-palette($mat-cyan, 800, 300, 900);
$cs-accent: mat-palette($mat-deep-purple, 300);
$cs-warn: mat-palette($mat-red, 600);
$cs-theme: mat-light-theme( $cs-primary, $cs-accent, $cs-warn);

@include angular-material-theme($cs-theme);
.material-icons {
    color: #055f66
}

/* Set global default font family */

// $font-family-base: 'Montserrat',
// sans-serif;
// body,
// html {
//     font-family: $font-family-base
// }
// @include mat-core();
// $cs-primary: mat-palette($mat-brown, 700, 300, 900);
// $cs-accent: mat-palette($mat-deep-purple, 300);
// $cs-warn: mat-palette($mat-red, 600);
// $cs-theme: mat-light-theme(
//   $cs-primary,
//   $cs-accent,
//   $cs-warn
// );
// @include angular-material-theme($cs-theme);